# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal

# Virtual Environment
.venv/
venv/
ENV/

# IDE and Editor Folders
.idea/
.vscode/

# Xcode
#
# gitignore contributors: remember to keep syncing with
# https://github.com/github/gitignore/blob/main/Swift.gitignore
#
build/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserdatad/
DerivedData/
.swiftpm/

# macOS
.DS_Store
